<style>
  header {
    height: 50px;
    background: blue;
  }
</style>

<div class="navbar navbar-fixed-top" role="navigation" style="height: 60px">
    <div class="container" style="height: 60px">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Github Visualizations </a>
        </div>
        <div class="navbar-collapse collapse" style="height: 60px!important">
            <ul class="nav navbar-nav navbar-right" style="height: 80px">
                <li>
                    <a href="/toprepos"><i class="fa fa-shield"></i> Top Repos </a>
                </li>
                <li>
                    <a href="/topusers"><i class="fa fa-shield"></i> Top Users </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div>
