<html ng-app="githubviz">
<head>
    <!-- JQUERY -->
    <script src="../anthony/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- ANGULAR -->
    <script src="../anthony/bower_components/angular/angular.js"></script>

    <!--ANGULAR CHARTS + CHARTS.JS-->
    <script src="../anthony/bower_components/Chart.js/Chart.js"></script>
    <script src="../anthony/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="../anthony/d3.min.js"></script>
    <script src="../anthony/bower_components/hamsterjs/hamster.js"></script>
    <script src="../anthony/bower_components/angular-mousewheel/mousewheel.js"></script>
    <script src="../anthony/bower_components/angular-route/angular-route.js"></script>

    <script src="../anthony/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../anthony/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../anthony/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../anthony/bower_components/bootstrap/dist/css/bootstrap-theme.css">

    <link rel="stylesheet" href="../anthony/bower_components/angular-chart.js/dist/angular-chart.css">
    <script src="../anthony/angular-slider/angular-slider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../anthony/angular-slider/angular-slider.css" />

    <!-- MOMENT TIME LIBRARY -->
    <script src="../anthony/bower_components/moment/moment.js"></script>

    <!-- SOCKET.IO -->
    <script src="../anthony/bower_components/socket.io-client/socket.io.js"></script>


    <!--HIGHCHARTS -->
    <script src="../anthony/bower_components/highcharts-release/highcharts-all.js"></script>
    <script src="../anthony/bower_components/angular-highcharts-directive/src/directives/highchart.js"></script>

    <!-- MAIN APP -->
    <script src="../anthony/app.js"></script>

    <!-- UTILITY SCRIPTS -->
    <script src="../anthony/app/util/net/event_store_service.js"></script>
    <script src="../anthony/app/util/net/socketio.js"></script>
    <script src="../anthony/app/util/test/testController.js"></script>

    <script src="../anthony/app/realtime/service.js"></script>
    <script src="../anthony/app/realtime/ctrl.js"></script>
    <script src="../anthony/app/toprepos/ctrl.js"></script>
    <script src="../anthony/app/topusers/ctrl.js"></script>

    <script src="../anthony/app/util/ai/gng_module.js"></script>

    <style>
        rect {
            fill: none;
            pointer-events: all;
        }

        .selected {
            stroke-width:3px;
            stroke: green!important;
        }

        .node text {
            pointer-events: none;
            font: 300px sans-serif;
            stroke-width:1px!important;
        }

        .cursor {
            fill: none;
            stroke: #808080;
            pointer-events: none;
        }

        .link {
            stroke: #fed1ff;
        }
    </style>
</head>
<body ng-controller="GithubViz">
    <% include ../partials/head %>
    <% include ../partials/header %>
    <div ng-controller="TopReposCtrl"
    ng-include="'../anthony/app/toprepos/main.html'">
    </div>
</body>
</html>
