<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>        
        <iframe src="../anthony" frameborder="0" scrolling="no" seamless width="100%"></iframe>
        <script>iFrameResize({log:true})</script>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>